extends layout

block content
  h2= title
  h1(style='text-align: center;')= subtitle
  
  div.form-group
    label(for='refine_results') Search within the results:
    input#refine_results.form-control(type='text', placeholder='Start typing...' name='refine_results' value='' )
  
  button.btn.btn-primary(type='button', id='btn_refine') Refine
  button.btn.btn-default(type='button', id='btn_refine_clear') Clear
  
  hr
    
  p Click on a word to see the sentences that contain it
  
  ul
    each word_match in results.word_matches
      li(class='word')
        p <b>#{ word_match.word.word }</b> <i>(#{ word_match.number_matches})</i>
        ul(style='display:none;')
          each word in word_match.matches
            li
              p #{ word.sentence }
          else
            li
              There are no matches for this word.
    else
      li There are no matches for this class.

  script(src='/public/javascripts/site.js')
